<h2 class="page-header">Most Sold Product</h2>

<br>
<table class="styled-table centered-container">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <div>
            <tr>
                <td> <%= products.name %> </td>
                <td> <%= products.total %> </td>
            </tr>
        </div>
    </tbody>
</table>