<h2 class="page-header">Most Transactions Day</h2>

<br>
<table class="styled-table centered-container">
    <thead>
        <tr>
            <th>Date of Transactions</th>
            <th>Number of Transactions</th>
        </tr>
    </thead>
    <tbody>
        <div>
            <tr>
                <td> <%= products.dateOfTransaction %> </td>
                <td> <%= products.total %> </td>
            </tr>
        </div>
    </tbody>
</table>