<h2 class="page-header">Personal Transaction Statistics</h2>
<form action="/transactions/person" method="GET">
    <div class="form-item">
        <label>Search by Full Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %> ">
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>

<table class="styled-table centered-container">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < transactions.length; i++) { %>
            <div>
                <tr>
                    <td> <%= transactions[i].productName %> </td>
                    <td> <%= transactions[i].quantity %> </td>
                    <td> <%= transactions[i].totalValue %> </td>
                </tr>
            </div>
        <% } %>
    </tbody>
</table>