<header>
    <nav>
        <a href="/app">Web-Store</a>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/customers/new">Add Customer</a></li>
        </ul>
    </nav>
</header>