<header>
    <nav class="header-nav">
        <a class="header-title" href="/app">Web-Store</a>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/customers/new">Add Customer</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Add Product</a></li>
            <li><a href="/transactions">Transaction</a></li>
            <li><a href="/transactions/new">Add Transaction</a></li>
        </ul>
    </nav>
</header>