<h2 class="page-header">New Transaction</h2>
<form action="/transactions" method="POST">

    <div class="form-item">
        <label>Card Number</label>
        <select name="cardNumber">
            <% for ( let i = 0; i < cardNumbers.length; i++ ) { %>
                <option> <%= cardNumbers[i].cardNumber %> </option>
            <% } %>
        </select>
    </div>
    <div class="form-item">
        <label>Product ID</label>
        <select name="productId">
            <% for ( let i = 0; i < productIds.length; i++ ) { %>
                <option> <%= productIds[i].productId %> </option>
            <% } %>
        </select>
    </div>
    <div class="form-item">
        <label>Quantity</label>
        <input type="text" name="quantity" value="<%= transaction.quantity %>">
    </div>
    <div class="form-item">
        <label>Date Of Transaction</label>
        <input type="text" name="dateOfTransaction" value="<%= transaction.dateOfTransaction %>">
    </div>

    <div class="form-row form-row-end">
        <a class="btn btn-danger" href="/transactions">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>