<h2 class="page-header"> Useful Statistics </h2>

<div class="cards">
    <div class="card">
        <a href="transactions/person">Transactions made by a person</a>
    </div>
    <div class="card">
        <a href="transactions/warranty">Active Warranty</a>
    </div>
    <div class="card">
        <a href="transactions/quantity">Most Sold Product</a>
    </div>
    <div class="card">
        <a href="transactions/mostTransactions">Most Transactions Day</a>
    </div>
    <div class="card">
        <a href="transactions/mostActiveCustomer">Most Active Customer</a>
    </div>
</div>